/*
 Theme Name:   Edgedweller
 Theme URI:    http://themeluxe.com/themes/fusion
 Description:  Theme for Edgedweller site, assessments, and workshops
 Author:       Echo 5
 Author URI:   http://echo5web.com
 Template:     fusion
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  ew
*/

/**
 * Header
 */
.navbar-brand {
   padding-left: 50px;
   position: relative;
}
.navbar-brand:before {
   transition: all .3s ease-in-out;
   content: '';
   background-image:url('/wp-content/themes/edgedweller/assets/images/logo-house.png'); 
   background-size: 30px 30px;
   position:absolute;
   left:0%;
   top:20px;
   width: 30px;
   height: 30px;
   display: block;
}
.navbar-brand:after {
   transition: all .3s ease-in-out;
   content: '';
   background-image:url('/wp-content/themes/edgedweller/assets/images/logo-taglines-dark.png'); 
   background-size: contain;
   background-repeat: no-repeat;
   left:0%;
   top:20px;
   width: 215px;
   height: 30px;
   display: block;
   clear: both;
}
.header-dark-active .navbar-brand:after {
   background-image:url('/wp-content/themes/edgedweller/assets/images/logo-taglines-light.png'); 
}
.navbar.is-scrolled .navbar-brand:before {
   transform: rotate(-45deg);
}
.navbar.is-scrolled .navbar-brand:after {
   opacity: 0;
}

/**
 * Page header
 */
.page-header {
  background: #e6eadb;
}
.section-padded {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
/**
 * Tables
 */
 table {
   background-color: transparent;
 }

 caption {
   padding-top: .75rem;
   padding-bottom: .75rem;
   text-align: left;
 }

 th {
   text-align: left;
 }

 .table {
   width: 100%;
   max-width: 100%;
   margin-bottom: 1rem;
 }
 .table > thead > tr > th,
 .table > thead > tr > td,
 .table > tbody > tr > th,
 .table > tbody > tr > td,
 .table > tfoot > tr > th,
 .table > tfoot > tr > td {
   padding: .75rem;
   line-height: 1;
   vertical-align: top;
   border-top: 1px solid #eceeef;
 }
 .table > thead > tr > th {
   vertical-align: bottom;
   border-bottom: 2px solid #eceeef;
 }
 .table > caption + thead > tr:first-child > th,
 .table > caption + thead > tr:first-child > td,
 .table > colgroup + thead > tr:first-child > th,
 .table > colgroup + thead > tr:first-child > td,
 .table > thead:first-child > tr:first-child > th,
 .table > thead:first-child > tr:first-child > td {
   border-top: 0;
 }
 .table > tbody + tbody {
   border-top: 2px solid #eceeef;
 }

 /**
  * Forms
  */
label {
   padding-left: .10625rem;
   font-size: .85rem;
   font-weight: 400;
}
input[type="radio"] {
   -webkit-appearance: radio;
}

/**
 * Tests
 */
.single-wpt_test .site-content {
   width: 100%;
   max-width: 100%;
}
.wpt_test >.content:first-child {
   padding-top: 10.5rem;
   padding-bottom: 6rem;
   background-color: #e6eadb;
   margin-bottom: 4rem;
}
.wpt_test >.content> * {
   padding-left: 15px;
   padding-right: 15px;
}
.wpt_test_form {
   /*display: flex;*/
}
.wpt_test_form p {
   text-align: center;
   clear: both;
}
.wpt_test .answer {
   display: none;
}
.wpt_test .question {
   width: 33%;
   float: left;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 60px 45px;
   cursor: copy;
}
.wpt_test .question > .title {
    width: 250px;
    height: 250px;
    background: #E7ECEF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all .25s ease-in-out;
    padding: 10px;
}
.wpt_test .question > .title .title {
   opacity: 0;
   transition: all .25s ease-in-out;
}
.wpt_test .question:hover>.title {
   /*width: 450px;*/
   /*height: 450px;*/
   transform: scale(1.7);
}
.wpt_test .question:hover>.title .title {
   opacity: 1;
}
.wpt_test .question .title .number {
   display: none;
}
.selected-answers-wrapper {
   overflow-x: scroll;
}
.selected-answers {
   display: inline-flex;
}
.selected-answer {
   cursor: url(/wp-content/themes/edgedweller/assets/images/minus.png), pointer;
   width: 300px;
   height: 300px;
   float: left;
   margin-right: 60px;
   background-color: #F07851;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   color: #fff;
   padding: 10px;
   text-align: center;
}

/**
 * Modals
 */
 .modal,
 .modal-box {
   z-index: 900;
 }

 .modal-sandbox {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: transparent;
 }

 .modal {
   display: none; 
   position: fixed;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background: rgb(0,0,0);
   background: rgba(0,0,0,.3);
   overflow: auto;
 }

 .modal-box {
   position: relative;
   width: 80%;
   max-width: 600px;
   margin: 0 auto;
   top: 50%;
   transform: translateY(-50%);
   animation-name: modalbox;
   animation-duration: .3s;
   animation-timing-function: ease-out;
 }

 .modal-header {
   padding: 14px;
   background: #fff;
   color: #000;
 }

 .modal-body {
   background: #fff;
   padding: 30px;
 }

 .modal-footer {
   background: #fff;
   padding: 14px;
   display: inline-block;
   width: 100%;
 }

 /* Close Button */
 .close-modal {
   text-align: right;
   cursor: pointer;
   float: right;
 }

 /* Animation */
 @keyframes modalbox {
   0% {
     top: 40%; 
     opacity: 0;
   }
   100% {
     top: 50%; 
     opacity: 1;
   }
 }

 .modal-footer button {
   padding: 12px 16px;
   background: #ef4e03;
   color: #ffffff;
   text-decoration: none;
   border: 0;
 }

 .modal-trigger {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   transition: ease .2s;
 }

 .modal-trigger:hover {
   padding: 20px 60px;
 }

 /**
  * Tooltips
  */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    transition: all .25s ease-in-out;
    visibility: hidden;
    color: #fff;
    text-align: left;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-bottom: 14px;
    transform: translateX(-50%);
    min-width: 300px;
    max-width: 300px;
    opacity: 0;
}
.tooltip .tooltip-inner {
   max-width: 300px;
    background-color: black;
    padding: 8px;
    border-radius: 0px;
    display: inline-block;

}
.tooltip-bottom .tooltip-text {
    margin-top: 14px;
    bottom: auto;
    top: 100%;
    left: 50%;
    text-align: center;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
.tooltip .tooltip-text:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.tooltip-bottom .tooltip-text:after {
  border-top: 0;
  border-bottom: 8px solid #000000;
  top: auto;
  bottom: 100%;
}
.help {
   position: fixed;
   bottom: 20px;
   left: 20px;
   z-index: 10;
}
.help i {
   font-size: 36px;
   background: #fff;
   color: #F07851;
   -webkit-box-shadow: 10px 9px 5px -7px rgba(0,0,0,0.19);
   -moz-box-shadow: 10px 9px 5px -7px rgba(0,0,0,0.19);
   box-shadow: 10px 9px 5px -7px rgba(0,0,0,0.19);
   padding: 5px;
   border-radius: 50%;
   width: 46px;
   height: 46px;
   text-align: center;
}
.help .tooltip-text {
    transform: translateX(2px);
}
.help .tooltip-text:after {
   left: 20px;
}

/**
 * My account (WC)
 */
.woocommerce-MyAccount-navigation ul {
  padding-left: 0;
  list-style: none;
  margin-right: 30px;
}
.woocommerce-MyAccount-navigation ul a {
  padding: 10px 20px;
  width: 100%;
  display: block;
  background: #ececec;
  color: black;
}
.woocommerce-MyAccount-navigation ul .is-active a {
  background: #ef4e03;
  color: white;
}
